<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyshop.mapper.SpecificationMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easyshop.pojo.Specification">
        <id column="id" property="id" />
        <result column="spec_name" property="specName" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spec_name, del
    </sql>

	<update id="updateColumnDelById" >
    	UPDATE tb_specification SET del=1 where id in
		<foreach collection="list" item="id" open="(" close=")" separator=",">
    		  #{id}
   		</foreach>
  	</update>
</mapper>
